# Load the dataset 'Eng to Deu'

Tokenizer(BPE): https://huggingface.co/learn/nlp-course/chapter6/5?fw=pt

SentencePiece: https://wikidocs.net/86657 & https://github.com/google/sentencepiece

In [ ]:
%pip install datasets
%pip install transformers

In [2]:
from datasets import load_dataset

dataset = load_dataset('iwslt2017','iwslt2017-en-de')

c:\Users\user\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
train_dataset = dataset['train']
val_dataset = dataset['validation']
test_dataset = dataset['test']

train_dataset['translation']

# Text Tokenizer
Sentence Piece로 영어, 독일어 vocab 생성

In [5]:
%pip install sentencepiece

Requirement already satisfied: sentencepiece in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (0.1.99)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\Users\user\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [21]:
# 독일어, 영어로 된 dataframe 만들기
import pandas as pd

# Train 
train_dic = {
    'de': [],
    'en': []
}
for idx, data in enumerate (train_dataset):
    train_dic['de'].append(train_dataset[idx]['translation']['de'])
    train_dic['en'].append(train_dataset[idx]['translation']['en'])

# validation
val_dic = {
    'de': [],
    'en': []
}
for idx, data in enumerate (val_dataset):
    val_dic['de'].append(val_dataset[idx]['translation']['de'])
    val_dic['en'].append(val_dataset[idx]['translation']['en'])

# test
test_dic = {
    'de': [],
    'en': []
}
for idx, data in enumerate (test_dataset):
    test_dic['de'].append(test_dataset[idx]['translation']['de'])
    test_dic['en'].append(test_dataset[idx]['translation']['en'])


train_df = pd.DataFrame(train_dic)
val_df = pd.DataFrame(val_dic)
test_df = pd.DataFrame(test_dic)

train_df

,de,en
0,"Vielen Dank, Chris.","Thank you so much, Chris."
1,"Es ist mir wirklich eine Ehre, zweimal auf die...",And it's truly a great honor to have the oppor...
2,Ich bin wirklich begeistert von dieser Konfere...,"I have been blown away by this conference, and..."
3,"Das meine ich ernst, teilweise deshalb -- weil...","And I say that sincerely, partly because I ne..."
4,Versetzen Sie sich mal in meine Lage!,Put yourselves in my position.
...,...,...
206107,Den alten Griechen fiel auch nicht eines Tages...,The Ancient Greeks didn't just wake up one day...
206108,"Wir Menschen brauchten Jahrhunderte, um Sachen...","It took centuries, even, for humans to realize..."
206109,Deshalb müssen wir unser Verständnis von Norma...,And so we must continuously challenge our noti...
206110,Figuren: Danke. Danke. Danke. Danke. Danke.,Characters: Thank you. Thank you. Thank you. T...
206111,Frankensteins Monster: SS: Danke.,Frankenstein's monster: SS: Thank you.

In [22]:
# 독일어 문장, 영어 문장 따로 text 파일 만들기

# Train
with open('de_train.txt', 'w', encoding='utf8') as f:
    f.write('\n'.join(train_df['de']))
with open('en_train.txt', 'w', encoding='utf8') as f:
    f.write('\n'.join(train_df['en']))

# Val
with open('de_validation.txt', 'w', encoding='utf8') as f:
    f.write('\n'.join(val_df['de']))
with open('en_validation.txt', 'w', encoding='utf8') as f:
    f.write('\n'.join(val_df['en']))

# Test
with open('de_test.txt', 'w', encoding='utf8') as f:
    f.write('\n'.join(test_df['de']))
with open('en_test.txt', 'w', encoding='utf8') as f:
    f.write('\n'.join(test_df['en']))

In [23]:
import sentencepiece as spm

vocab_size = 8000

# SentencePiece 모델 학습
spm.SentencePieceTrainer.Train('--input={} --model_prefix={} --vocab_size={} --model_type=bpe'.format('de_train.txt', 'de', vocab_size))
spm.SentencePieceTrainer.Train('--input={} --model_prefix={} --vocab_size={} --model_type=bpe'.format('en_train.txt', 'en', vocab_size))

In [28]:
import pandas as pd
import csv

vocab_de_list = pd.read_csv('de.vocab', sep='\t', header=None, quoting=csv.QUOTE_NONE)
vocab_en_list = pd.read_csv('en.vocab', sep='\t', header=None, quoting=csv.QUOTE_NONE)

In [29]:
vocab_de_list.sample(10)

                  0     1
6798           ▁Dan -6795
3476         ▁Kampf -3473
7181       ▁bestand -7178
6415           ▁Pan -6412
4158      ▁brauchte -4155
2753  ▁Entwicklungs -2750
1570         ▁darum -1567
381          ▁unter  -378
3090           ▁kur -3087
4129  ▁Leidenschaft -4126

In [30]:
vocab_en_list.sample(10)

             0     1
2447      view -2444
5508        20 -5505
440       ▁des  -437
2726    ▁lands -2723
2581    isions -2578
1872   ▁ground -1869
5603    ▁frank -5600
2249      like -2246
4390   ▁toward -4387
2570  ▁introdu -2567

In [31]:
sp = spm.SentencePieceProcessor()
sp.load('en.model')

True